extends layout

block content
  h1= title
  - var mango=[{mango_type:"Thothapuri",mango_quantity:"2",mango_price:100},{mango_type:"Rasalu",mango_quantity:"4",mango_price:200},{mango_type:"Alphonso",mango_quantity:"6",mango_price:300}]
  div(class="container-fluid")
  div(class="row")
   each i,index  in mango
    div(class="col-sm-2" onclick=`buy(${index})`)
                p Mango_Type:  #{i.mango_type} 
                p Mango_Quantity: #{i.mango_quantity}
                p Mango_Price: #{i.mango_price}
    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        }